<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% if user_signed_in? %>
        <ul class="nav navbar-nav">
          <li class="<%= cp(root_path) %>"><a href="/">Main</a></li>
          <li class="<%= cp(users_path) %>">
            <%=link_to "My account", users_path %>
          </li>
          <li class="<%= cp(products_path) %>">
            <a href="/products">Products</a>
          </li>
          <li class="<%= cp(orders_path) %>">
            <a href="/orders">Orders</a>
          </li>
          <% if can? :manage, @product %>
            <li class="<%= cp(new_product_path) %>">
              <a href="/products/new">New product</a>
            </li>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li ><span class="navbar-text">Здравствуйте, <%= current_user.email %>
          </span></li>
          <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
        </ul>
      <% else %>
        <ul class="nav navbar-nav navbar-right">
          <li  class="<%= 'active' if user_sign_in? %>"><%= link_to 'Sing in', new_user_session_path %></li>
          <li  class="<%= 'active' if user_sign_in? %>">
            <%= link_to 'Sing up', new_user_registration_path %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</nav>
