<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Total $</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% total = 0 %>
      <% @items.each do |row| %>
        <tr>
          <td><%= row.product.name %></td>
          <td><%= row.quantity %></td>
            <% total+=(row.quantity*row.price).round(2) %>
          <td><%= (row.quantity*row.price).round(2) %> $</td>
          <td>
            <%= form_for(row, :url => order_item_path(row.id),
              :method => :delete) do |f| %>
              <%= f.submit 'Remove', :class => 'btn btn-default' %>
            <% end %>
          </td>
        </tr>
      <% end %>
      <tr>
        <th>
          Total
        </th>
        <th></th>
        <th>
          <%= total.round(2) %> $
        </th>
        <th>
          <% if total != 0 %>
            <%= form_tag payments_new_path, :method => :get do %>
                <%= hidden_field :total, :val,:value => total %>
                <%= submit_tag 'Buy', :class => 'btn btn-default' %>
            <% end %>
          <% end %>
        </th>
      </tr>
    </tbody>
  </table>
</div>