<%= form_tag('/search', method: "get",
  :class => 'form-inline') do %>
  <div class="form-group">
    <%= label_tag(:q, "Search for") %>
    <%= text_field_tag :q, nil, class: 'form-control' %>
  </div>
  <%= submit_tag("Search", :class => 'btn btn-default') %>
<% end %>

<div id="space"></div>

<% if flash[:success] %>
  <div class="alert alert-success"><%= flash[:success] %></div>
<% end %>

<% if flash[:danger] %>
  <div class="alert alert-danger"><%= flash[:danger] %></div>
  <% flash[:danger] = nil %>
<% end %>

<div class="pagination-container">
  <%= will_paginate @products, renderer: BootstrapPagination::Rails %>
</div>
<div class="row">
  <%= render partial: "display", collection: @products, as: :product %>
</div>
<div class="pagination-container">
  <%= will_paginate @products, renderer: BootstrapPagination::Rails %>
</div>
