<%= form_tag('/search', method: "get",
  :class => 'form-inline') do %>
  <div class="form-group ui-widget">
    <%= label_tag(:q, "Search for") %>
    <%= text_field_tag :q, nil, class: 'form-control', id: 'query' %>
  </div>
  <%= submit_tag("Search", :class => 'btn btn-default') %>
<% end %>

<div id="space"></div>

<div class="alert alert-success">Results for '<%= flash[:query] %>'</div>

<% if flash[:success] %>
  <div class="alert alert-success"><%= flash[:success] %></div>
<% end %>

<% if flash[:danger] %>
  <div class="alert alert-danger"><%= flash[:danger] %></div>
  <% flash[:danger] = nil %>
<% end %>

<div id="container">
  <%= render partial: "display2", collection: @products, as: :product %>
</div>
